{% extends 'shared/base.html' %}

{% block content %}
    {% include '../components/menu-superior.html' %}
    {% include '../components/header.html' %}
    {% include '../components/quem-somos.html' %}
    {% include '../components/fita-dados.html' %}
    {% include '../components/operacoes.html' %}
    {% include '../components/conversor.html' %}
    {% include '../components/consultoria.html' %}
    {% include '../components/newsletter.html' %}
    {% include '../components/secao-contato.html' %}
    {% include '../components/footer.html' %}

{% endblock %}