.footer{
    position: absolute;
    top: 30rem;
    width: 100vw;
    height: 70px;
    background-color: #332e24;
    font-size: 12px;
}

.to-left{
    position: absolute;
    top: 25px;
    left: 5rem;
}

.to-right{
    position: absolute;
    top: 23px;
    right: 5rem;
}