<div class="container-consultoria">
    <div class="img-wrapper"><img src="/media/static/imagens/consulting.png" alt=""></div>
    <div class="layer1"> </div>
    <div class="layer2"> </div>
    <div class="banner-consultoria">
        <h1>Consultoria</h1>
        <p>Consulta de processos e operações junto ao Banco Central do Brasil</p>
    </div>
    <div class="txtright"><p>A prática conta com uma equipe especializada em assessoria regulatória<br>
        para instituições financeiras e outras entidades supervisionadas pelo Banco<br>
        Central do Brasil e pela Comissão de Valores Mobiliários.<br>
        <br>
        Nossos profissionais possuem experiência e conhecimento profundo das<br>
        normas e práticas do setor financeiro e de pagamentos e do mercado de<br>
        capitais. Além disso, nossa abordagem é multidisciplinar, agregando<br>
        profissionais e experiência de diversas outras práticas do escritório aos<br>
        trabalhos para criar soluções de valor </p></div>
    <button class="btn">Conheça nossa consultoria completa</button>
    </div>