<div class="conversor">
        <div class="conversor-wrapper"><img src="/media/static/imagens/Camada 59.png" alt=""></div>
    <div class="conversor-banner">
    <h1>Conversor de<strong> moedas</strong></h1>
    <p>Escolha uma moeda abaixo e faça a conversão dela pra saber o valor</p>
    </div>
    <div class="left">
        <label class="text1">Selecione a moeda: </label>
        <div class="seta-opt"><img src="/media/static/imagens/Shape 42.png" alt=""></div>
                <select class="custom-select">
                <option value="0" selected="selected">USD</option>
                <option value="1">BRL</option>
                <option value="2">CAD</option><span>Dolar Canadense</span>
                <option value="3">AUD</option><span>Dolar Australiano</span>
                <option value="4">EUR</option><span>Euro</span>
                <option value="5">GBP</option><span>Libra Esterlina</span>
                <option value="6">JPY</option><span>Iene</span>
                <option value="7">MXN</option><span>Peso Mexicano</span>
                <option value="8">ARS</option><span>Peso Argentino</span>
                <option value="9">HKD</option><span>Dólar de Hong Kong</span>
                <option value="10">BTC</option><span>Bitcoin</span>
                <option value="11">CHF</option><span>Franco Suiço</span>
                <option value="12">KRW</option><span>Won</span>
                <option value="13">RUB</option><span>Rublo Russo</span>
        </select>
    <input name='valor' class="valor" type='text' placeholder='6,00'>
    </div>
            <a class="inverter" href=""><img src="/media/static/imagens/Camada 61.png" alt=""></a>
    <div class="right">
        <label class="text1">Selecione a moeda:</label>
        <div class="seta-opt"><img src="/media/static/imagens/Shape 42.png" alt=""></div>
        <select class="custom-select">
            <option value="0">BRL</option>
            <option value="1">USD</option>
            <option value="2">CAD</option><span>Dolar Canadense</span>
            <option value="3">AUD</option><span>Dolar Australiano</span>
            <option value="4">EUR</option><span>Euro</span>
            <option value="5">GBP</option><span>Libra Esterlina</span>
            <option value="6">JPY</option><span>Iene</span>
            <option value="7">MXN</option><span>Peso Mexicano</span>
            <option value="8">ARS</option><span>Peso Argentino</span>
            <option value="9">HKD</option><span>Dólar de Hong Kong</span>
            <option value="10">BTC</option><span>Bitcoin</span>
            <option value="11">CHF</option><span>Franco Suiço</span>
            <option value="12">KRW</option><span>Won</span>
            <option value="13">RUB</option><span>Rublo Russo</span>
            </select>
            <input name='valor' class="valor" type='text' placeholder='1,00'>
        </div>
    <button>Converter</button>
    <p class="bottom">Gostaria de fazer um câmbio? Entre em contato por <a href="">aqui</a></p>
</div>