<header>
    <div class="header-wrapper">
        <div class="img-header"><img src="/media/static/imagens/banner-img.png" scrset="" alt=""></div>
    </div>
    <div class="botoes">
        <div class="up" id="btn-up">
            <a href=""><img class="up" src="/media/static/imagens/up.png" alt=""><img class="elipse1" src="/media/static/imagens/Elipse 2.png" alt=""></a>
        </div>
        <div class="down" id="btn-down">
            <a href=""><img class="down" src="/media/static/imagens/down.png" alt=""><img class="elipse2" src="/media/static/imagens/Elipse 2.png" alt=""></a>
        </div>
    </div>
    <div class="banner">
        <h3>Salve seu tempo <br>e seu <b>dinheiro.</b></br></h3>
        <p>Somos especializados em gestão de operações de câmbio e registro de<br> capitais estrangeiros com mais de <strong>20 anos de experiência</strong> no mercado<br> financeiro, especificamente nas áreas de câmbio e comércio exterior.</p>
        <button class="btn">Faça uma simulação</button>  
        <ul class="lista">
            <li><img class='icone' src='/media/static/imagens/S143.png'><a href="#">Capitais Entrangeiros</a></li>
            <li><img class='icone'src='/media/static/imagens/S143.png'><a href="#">Mercado Financeiro</a></li>
        <li><img class='icone' src='/media/static/imagens/S143.png'><a href="#">Registro Junto Ao Banco Central</a></li>
        </ul>
    </div>
</header>