<div class="hamburguer">
    <div class="line" id= line1></div>
    <div class="line" id= line2></div>
    <div class="line" id= line3></div>
    <span>fechar</span>
</div>
<aside class="sidebar">
    <nav>
     <ul class="menu-mobile">
       <li class="mob-item"><a href="#" class="mob-link">Início</a></li>
       <li class="mob-item"><a href="#" class="mob-link">Quem Somos</a></li>
       <li class="mob-item"><a href="#" class="mob-link">Operações</a></li>
       <li class="mob-item"><a href="#" class="mob-link">Simulação</a></li>
       <li class="mob-item"><a href="#" class="mob-link">Consultoria</a></li>
       <li class="mob-item"><a href="#" class="mob-link">Contato</a></li>
       <img src="/media/static/imagens/phone.png"><p>+55 (21) 2240 - 5501</p>
       <div class="idiomas-mobile">
           <a href="#">PT</a>
           <a href="#">EN</a>
       </div>
       <button class="btn-mobile">Área Restrita</button>
     </ul>
    </nav>
</aside>