          <div class="navbar">
                 <img class="logo-wrapper" src="/media/static/imagens/logo-s.png">
                        <ul class="nav">
                        <a href="#"><li>Início</li></a>
                        <a href="#"><li>Quem Somos</li></a>
                        <a href="#"><li>Operações</li></a>
                        <a href="#"><li>Simulação</li></a>
                        <a href="#"><li>Consultoria</li></a>
                        <a href="#"><li>Contato</li></a>
                        <img src="/media/static/imagens/phone.png"><p>+55 (21) 2240 - 5501</p>
                        <div class="idiomas">
                            <a href="#">PT</a>
                            <a href="#">EN</a>
                        </div>
                        <button>Área Restrita</button>
                    </ul>
                </div>