<div class="container-newsletter">
    <div class="news-banner">
    <h2>Se inscreva em nossa Newsletter</h2>
    <p>Receba atualizações e novidades mensais em seu e-mail.</p>
    </div>
    <form>
    <div class="input-group">
            <input type="text" class="field" id="email">
            <label for="email" class="field-label">Digite seu e-mail corretamente</label>
            <button type="submit" class="submit"><img src="/media/static/imagens/airplane.png" alt="">Enviar</button>
    </div>
    </form>
</div>   