<div class="header-op">
    <h1>Operações <strong>Empresa</strong></h1>
    <p>Assessoria em Operações de Câmbio</p>
</div>
<div class="container-op">
<div class="op-item">
    <img src="/media/static/imagens/Icon-4.png" alt="">
    <h1>Assessoria no cadastro</h1>
    <p>Pessoa Física ou Jurídica para operar câmbio junto a alguns bancos intermediários.</p>
    <img src="/media/static/imagens/S143-C.png" alt=""><strong><a href="#">Leia Mais</a></strong>
</div>
<div class="teste"></div>
<div class="op-item">
    <img src="/media/static/imagens/Icon-5.png" alt="">
    <h1>Oscilação em tempo real</h1>
    <p>Informações e acompanhamento da oscilação das moedas em tempo real.</p>
    <img src="/media/static/imagens/S143-C.png" alt=""><strong><a href="#">Leia Mais</a></strong>
</div>
<div class="op-item">
    <img src="/media/static/imagens/Icon-2.png" alt="">
    <h1>Ordens de pagamento</h1>
    <p>Rastreamento diário de ordens de pagamento do exterior junto ao banco intermediário.</p>
    <img src="/media/static/imagens/S143-C.png" class="alinhar4" alt=""><strong><a class="alinhar1" href="#">Leia Mais</a></strong>
</div>
<div class="op-item">
    <img src="/media/static/imagens/Icon-3.png" alt="">
    <h1>Análise e enquadramento</h1>
    <p class="less-margin">Análise e Enquadramento correto de documentação relacionada a operação de câmbio.</p>
    <img src="/media/static/imagens/S143-C.png" alt=""><strong><a href="#">Leia Mais</a></strong>
</div>
<div class="op-item">
    <img src="/media/static/imagens/Icon.png" alt="">
    <h1>Fechamento câmbio</h1>
    <p>Assessoria nos fechamentos de câmbio junto aos bancos intermediários.</p>
    <img src="/media/static/imagens/S143-C.png" class="alinhar2" alt=""><strong><a class="alinhar3" href="#">Leia Mais</a></strong>
</div>
<div class="op-item">
    <img src="/media/static/imagens/Icon-1.png" alt="">
    <h1>Monitoramento completo</h1>
    <p>Da operação e arquivamento de todo o processo posterior ao fechamento do câmbio.</p>
    <img src="/media/static/imagens/S143-C.png" alt=""><strong><a href="#">Leia Mais</a></strong>
</div>
<button class="btn">Conheça todas operações Empresa</button>
</div>