<section class="sessao-Empresa">
    <div class="Empresa-banner">
        <h1>Há mais de 15 anos agregando<br> <strong>qualidade</strong> e <strong>eficiência</strong></h1>
        <p>
        A <b>Empresa</b> é uma empresa especializada em gestão de operações de câmbio e registros de capitais<br>
        estrangeiros.
        <br>
        <br>
        O grupo gestor é formado por profissionais com mais de <strong>20 anos</strong> de experiência no mercado financeiro,<br>
        especificamente nas áreas de câmbio e comércio exterior. 
       <br>
       <br>
        Com uma experiente mesa interbancária e uma atitude pró-ativa, a equipe está sempre atenta às<br>
        expectativas dos clientes e realizando um eficiente trabalho de suporte operacional e logística nas<br>
        operações.
        </p>
        <button class="btn">Conheça melhor a Empresa</button>
    </div>
        <div class="Empresa-wrapper">
            <img class="seta" src="/media/static/imagens/setas.png" alt=""><img class="money1" src="/media/static/imagens/money1.png" alt=""><img class="money2" src="/media/static/imagens/money2.png" alt="">
        </div>
</section>