<div class="container-contato">
    <img class="go-up" src="/media/static/imagens/logo-s.png" alt="">
         <div class="bloco">
            <p class="be-bigger">A Empresa é uma empresa especializada em<br>
                gestão de operações de câmbio e registros<br>
                de capitais estrangeiros.</p>
           <h2><img class="toside" src="/media/static/imagens/phone.png" alt="">+55 (21) 2240-5501</h2>
            <p>Av. Das Américas, 7899, sala 410 bloco 02<br>
            Barra da Tijuca, Rio de Janeiro / Brasil</p>
        </div>
        <div class="menu">
            <h1>Menu de navegação</h1>
            <ul>
            <li class="menu-link"><img src="/media/static/imagens/S42.png" alt="#"><a href="">Início</a></li>
            <li class="menu-link"><img src="/media/static/imagens/S42.png" alt="#"><a href="">Quem somos</a></li>
            <li class="menu-link"><img src="/media/static/imagens/S42.png" alt="#"><a href="">Consultoria</a></li>
            <li class="menu-link"><img src="/media/static/imagens/S42.png" alt="#"><a href="">Simulação</a></li>
            <li class="menu-link"><img src="/media/static/imagens/S42.png" alt="#"><a href="">Operações</a></li>
            <li class="menu-link"><img src="/media/static/imagens/S42.png" alt="#"><a href="">Contato</a></li>
            </ul>
        </div>
        <div class="contato-geral">
        <h1>Contato</h1>
        <p>falecom@Empresagroup.com.br</p>
        <a href=""><img src="/media/static/imagens/fb.png" alt=""></a>
        <a href=""><img src="/media/static/imagens/gram.png" alt=""></a>
        <a href=""><img src="/media/static/imagens/whatsapp.png" alt=""></a>
        </div>